* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://avatars.dzeninfra.ru/get-zen_doc/1112142/pub_5b187eb28c8be3f81e7f2ad7_5b18803f780019cf22bf9bb1/orig");
    background-attachment: fixed;
    font-family: 'Amatic SC', cursive;
    color: #FFF5EE;
}

.head1 {
    background-color: #FFF5EE;
    height: 90px;
    display: flex;
    justify-content: space-between;
}

h1 {
    color: #3f4149;
    font-size: 30pt;
    margin-left: 140px;
    margin-top: 20px;
}

h2 {
    font-size: 30pt;
    font-weight: bolder;
    text-align: center;
}

.col {
    margin-top: 20px;
    max-width: 450px;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    background-color: darkslategray;
    padding: 5px 30px 5px;
    border-radius: 20px;
    height: 550px;
}

input {
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    font-size: 15px;
}

.btn1 {
    background-color: darkslategray;
    width: 120px;
    height: 40px;
    color: #FFF5EE;
    border: none;
    transition: .3s linear;
    font-family: 'Amatic SC', cursive;
    font-size: 20pt;
    font-weight: bold;
    margin-top: 23px;
    margin-right: 140px;
    border-radius: 5px;
}

.btn1:hover {
    background-color: darkgreen;
    transition: .3s linear;
}

.btn {
    background-color: seagreen;
    width: 140px;
    height: 50px;
    color: #FFF5EE;
    border: none;
    transition: .3s linear;
    font-family: 'Amatic SC', cursive;
    font-size: 20pt;
    font-weight: bold;
    margin: 30px auto;
}

.btn:hover {
    background-color: darkgreen;
    transition: .3s linear;
}

form > h2, p {
    margin-bottom: 10px;
    color: #FFF5EE;
    max-width: 300px;
    height: auto;
    white-space: normal;
}
form > p {
    margin-top: 10px;
    color: #FFF5EE;
}
form > h2 {
    margin: 5px auto;
}

.bt1 {
    background-color: darkslategray;
}
.bt1 > div {
    display: flex;
    justify-content: space-around;
    font-size: 15pt;
    font-weight: bolder;
}

.col-item {
    background-color: darkslategray;
    padding: 30px 0 30px;
    color: #FFF5EE;
    margin-bottom: 40px;
    max-width: 300px;
    height: auto;
}

.col > h2 {
    margin: 0 auto 20px;
}

.done {
    text-decoration: line-through;
}

.disabled {
    color: #cccccc;
}

.errors {
    color: darkred;
    background-color: #ff9595;
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}

.block {
    color: #858891;
}

button > img {
    width: 10%;
    height: 10%;
}

textarea {
    margin-top: 10px;
    resize: none;
    padding: 10px;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.deadline-true {
    color: #3655c4;
}

.deadline-false {
    color: darkred;
}

button {
    border: none;
    background-color: white;
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btns > div {
    display: flex;
    justify-content: space-between;
}

.submit {
    border: 1px solid #3f4149;
    padding: 5px;
    border-radius: 2px;
    margin-bottom: 20px;
}

.modal-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
}

.modal-container {
    width: 300px;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    transform: scale(1.1);
}

.create_task {
    border-radius: 5px;
    border: 1px solid #3f4149;
    padding: 10px;
    background-color: #d5deff;
}

.del {
    width: 130px;
    color: #FFF5EE;
    background-color: red;
    padding: 5px 5px 5px;
    border-radius: 5px;
    font-family: 'Amatic SC', cursive;
    font-size: 15pt;
    font-weight: bolder;
}

.edit {
    width: 130px;
    color: #FFF5EE;
    background-color: forestgreen;
    padding: 5px 5px 5px;
    border-radius: 5px;
    font-family: 'Amatic SC', cursive;
    font-size: 15pt;
    font-weight: bolder;
}

.arrow {
    font-weight: bold;
    font-size: 15pt;
    color: #FFF5EE;
    background-color: rgba(0,0,0,0%);
    margin: 10px auto;
}

.title {
    font-weight: bold;
    font-size: 15pt;
    margin-top: 5px;
}

.btn {
    border-radius: 5px;
}

.crest {
    margin-left: 280px;
}

h3 {
    font-size: 22pt;
}

.reasonForReturn {
    display: flex;
    flex-direction: column;
}
.edit_form{
    display: flex;
    flex-direction: column;
}
.edit_form.title {
    display: flex;
    flex-direction: column;
}

#taskDisc {
    height: 100px;
}



